:root {
    --blanc : #fff;
    --blue-clair :  rgb(7, 79, 186);
    --black : #141414;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: rgb(9, 96, 227);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.contener {
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
}

.contener2 {
    border: 1PX solid #fff;
    background: #fff;
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

h1 {
    font-size: 30px;
}

.head {
    line-height: 1.25;
    border-bottom: 2px solid var(--black);
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

h2 {
    padding-left: 1.3rem;
    margin-bottom: 1.5rem;
}

.grup {
    background: #e4e7ea;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgb(6, 25, 51);
}

.input {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.input input {
    border: 1px solid var(--blue-clair);
}
.input input:focus {
    border: 1px solid var(--blue-clair);
    box-shadow: 0 0 10px var(--blue-clair);
    outline: none;
    transition: all .6s;
}

.champ {
    flex: 1 1 200px;
    height: 2.5rem;
    padding: 10px;
    border: 1px solid var(--black);
    border-radius: 5px;   
}

.button {
    margin-top: 5px;
}

.btn {
    border-radius: 5px;
    text-align: center;
    background: rgb(9, 96, 227);
    color: var(--blanc);
    padding: 10px;
    width: 100%;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background: rgb(7, 79, 186);
    transition: all .3s;
}

.grup2 {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.form-grup {
    background: rgb(9, 96, 227);
    padding: 25px;
    border-radius: 5px;
    color: var(--blanc);
    flex: 1 1 45%;
    text-align: center;
}

.grup2 span {
    font-size: 20px;
}

.contenu {
    display: block;
    font-size: 1.5rem;
    margin-top: .5rem;
}

.control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 15px;
    margin-top: 2rem;
}

.control .option {
    display: flex;
    gap: 5px;
}

.control .option .btn2 {
    border: none;
    border-radius: 5px;
    margin: 3px;
    padding: 8px;
    min-width: 5rem;
    color: black;
    box-shadow: 0 0 2px rgb(6, 25, 51);
    cursor: pointer;
}

.control .option2 {
    border-radius: 5px;
    padding: 5px;
    border: 1px solid #ccc;
}

.op2:hover {
    color: var(--blanc);
}

.btn2:hover {
    background: var(--blue-clair);
    color: var(--blanc);
    transition: all .9s;
}

.option2 {
    border-radius: 5px;
    text-align: center;
    border: none;
    box-shadow: 0 0 2px rgb(6, 25, 51);
}

h3 {
    margin-top: 3.6rem;
    margin-bottom: 1.2rem;
}

@media (min-width: 768px) {
    .form-grup {
        flex: 1;
    }
    
    .btn {
        width: 8rem;
    }
}